<ion-header>
    <ion-toolbar class="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <img class="toolbar-logo" src="../../assets/images/wickie_snap.png" alt="Wicke snap" (click)="home()">
        </ion-buttons>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-searchbar *ngIf="searchBar" class="searchbar" slot="end" placeholder="Search Subwiki" inputmode="text" type="text"
            [(ngModel)]="query" (keyup.enter)="search()"></ion-searchbar>
        <ion-buttons slot="end" class="buttons" *ngIf="!this.user">
            <ion-button (click)="signUp()">
                Sign up
            </ion-button>
            <ion-button (click)="login()">
                Login
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" class="buttons" *ngIf="this.user">
            <ion-label>{{this.user}}</ion-label>
            <ion-button (click)="logout()">
                Logout
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
