.toolbar {
  .toolbar-logo {
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
  }

  .searchbar {
    text-align: left;
    width: 20rem;

  }

  .titleContainer {
    display: flex;
    flex-direction: row;
  }

  .buttons {
    margin: 0;
    height: 56px;

    ion-button {
      height: 100%;
      margin: 0;
      --padding-end: 25px;
      --padding-start: 25px;
    }
  }

  .loggedIn {
    margin-left: 15px;
    ion-button {
      margin-left: 15px;
    }
  }
}
