<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Menu</ion-title>
                    <ion-button (click)="createPage()" slot="end"><ion-icon name="add"></ion-icon></ion-button>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item-group class="category-group" *ngFor="let category of appPages | keyvalue">
                        <ion-item class="category" *ngIf="category.value.name !== ''" (click)="toggle(category.value)">
                            <ion-label>
                                {{category.value.name}}
                            </ion-label>
                            <ion-icon slot="end"
                                      [name]="category.value.expanded ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                        </ion-item>
                        <ion-menu-toggle auto-hide="false" class="category-items">
                            <ion-list *ngIf="category.value.expanded || category.value.name === ''">
                                <ion-item class="page" *ngFor="let page of category.value.pages" (click)="navigate(page)">
                                    {{page.title}}
                                </ion-item>
                            </ion-list>
                        </ion-menu-toggle>
                    </ion-item-group>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
