<ion-header>
    <ion-toolbar>
        <ion-title>CreateSubwiki</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Image</ion-label>
        <input (change)="uploadFile($event)" type="file" accept="image/*"/>
        <ion-spinner *ngIf="uploading"></ion-spinner>
        <ion-icon *ngIf="!uploading && imageRef" name="checkmark" color="success"></ion-icon>
    </ion-item>
    <ion-item lines="none">
        <ion-label *ngIf="error" color="danger">{{error}}</ion-label>
    </ion-item>
    <ion-button (click)="cancel()">Cancel</ion-button>
    <ion-button (click)="create()">Create</ion-button>
</ion-content>
