<app-header title="Browse Subwikis"></app-header>

<ion-content class="content-container">
  <div class="content">
    <ion-searchbar class="searchbar ion-padding" placeholder="Search Subwikis" inputmode="text" type="text"
      (ionChange)="onSubwikiSearchChange($event)" [debounce]="100"></ion-searchbar>
    <div class="subwiki-flex-container">
      <div *ngFor="let subwiki of this.searchableSubwikis">
        <ion-card class="subwiki-card" (click)="openSubwiki(subwiki)">
          <ion-card-content>
            <img [src]="subwiki.imageRef | resolveStorage: 'subwiki' | async" alt="SubWiki Preview Image">
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>{{ subwiki.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createSubwiki()" size="small"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
