.content-container {
  text-align: center;
  .content {
    display: inline-block;
    width: 100%;
    @media only screen and (min-width: 1024px) {
      width: 1024px;
    }
  }
}

.searchbar {
  text-align: left;
  --padding-bottom: 2px;
  padding-bottom: 2px;
}

.subwiki-flex-container {
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {
    width: calc(100% / 3);
    .subwiki-card {
      text-align: center;
      cursor: pointer;
      ion-card-content {
        height: 115px;
        padding: 0;
        border-bottom: solid 1px #e0e0e0;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.spinner-container {
  height: 171px !important;
  div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.invisible {
  display: none;
}
