<ion-header>
    <ion-toolbar>
        <ion-title><span *ngIf="pageInfo">Edit</span><span *ngIf="!pageInfo">Create</span> Page</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <div class="category">
        <ion-item>
            <ion-label position="floating">Category</ion-label>
            <ion-input [(ngModel)]="category"></ion-input>
        </ion-item>
        <ion-list class="categories">
            <ion-item *ngFor="let categoryname of categories | keyvalue"
                      (click)="setCategory(categoryname.value)">{{categoryname.value}}</ion-item>
        </ion-list>
    </div>
    <ion-item lines="none">
        <ion-label *ngIf="error" color="danger">{{error}}</ion-label>
    </ion-item>
    <ion-button (click)="cancel()">Cancel</ion-button>
    <ion-button *ngIf="pageInfo" (click)="edit()">Edit</ion-button>
    <ion-button *ngIf="!pageInfo" (click)="create()">Create</ion-button>
    <div>
        <ion-button *ngIf="pageInfo && !pageInfo.home" (click)="delete()" color="danger">Delete</ion-button>
    </div>
</ion-content>
